html {
    max-height: 100vh;
}

body {
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 12% 80% 8%;
}

header {
    background: black;
    grid-area: 1 / 1 / 2 / 4;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}

footer {
    grid-area: 3 / 2 / 4 / 3;
}

#characterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.image {
    height: 150px;
    width: 250px;
    margin: 10px;
}

#onDeck, #enemySelectionContainer, #battleContainer{
    display: inline-flex;
}

.button {
    height: 150px;
    width: 250px;
    margin: 5px;
}

#attacker, #defender, .image {
    border: 1px black solid;
}

#attacker {
    background-color: green;
}

#defender {
    background-color: maroon;
}

#versus {
    color: rgb(232,198,39);
    font-size: 10em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#status {
    background-color: blanchedalmond;
}
