body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header {
    background: whitesmoke;
}

img {
    height: 150px;
    width: 250px;
    margin: 5px;
}

#characterContainer, #onDeck, #enemySelectionContainer, #battleContainer{
    display: inline-flex;
}

#characterContainer, #onDeck, #enemySelectionContainer, #attacker, #defender {
    border: 2px solid black;
}

.button {
    height: 100px;
    width: 200px;
}

#versus {
    color: white;
    font-size: 10rem;
}


